{% extends 'microblog/base.html'%}
{% block content %}
      <h5>Авторы</h5>
      <ul class="list-group list-group-flush">
      {% for user in users %}
          <li class="list-group-item"><a class="nav-link active" aria-current="page" href="/post_list/{{user.username}}">{{user.username}}</a></li>
      {% endfor %}
      </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
{% endblock %}