{% extends 'microblog/base.html'%}
{% block content %}
      {% load static %}
      <img src="{% static 'microblog/avatar.jpeg' %}" class="rounded float-start" alt="avatar">
      <h1>Посты автора {{ author }}</h1>
      <p><a class="nav-link active" aria-current="page" href="/user_card/{{author}}">Немного про автора</a></p>
      {% for post in author_posts %}
      <div class="card">
        <div class="card-body">
            {{post.body}}
        </div>
      </div>
      {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
{% endblock %}