{% extends 'microblog/base.html'%}
{% block content %}
      {% load static %}
      <img src="{% static 'microblog/avatar.jpeg' %}" class="rounded float-start" alt="avatar">
      <dl class="row">
        <dt class="col-sm-3">Имя автора</dt>
        <dd class="col-sm-9">{{user.username}}</dd>
        <dt class="col-sm-3">Дата регестрации</dt>
        <dd class="col-sm-9">{{user.data_create_user}}</dd>
        <dt class="col-sm-3">День рождения</dt>
        <dd class="col-sm-9">{{user.data_birth}}</dd>
      </dl>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
{% endblock %}